<%-include("partials/header")-%>
<h2>This is an about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut vitae recusandae numquam sapiente ea deleniti delectus illo totam quia cupiditate. Esse tempore, nostrum illum nam earum accusantium, quis ipsum placeat non quia obcaecati labore. Error alias sequi ab laudantium veritatis aspernatur dicta modi fugiat molestiae pariatur impedit voluptates, porro, perspiciatis adipisci debitis iste fugit, eos obcaecati animi quibusdam. Porro, dicta!</p>


<%-include("partials/footer")-%>